<h1 class="animated fadeIn fast">Sobre Compic App</h1>
<hr>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quasi modi temporibus expedita commodi ipsum quaerat illum incidunt, necessitatibus cumque hic molestiae dignissimos quidem, in odio praesentium est perferendis alias.
Nisi voluptates repudiandae eos expedita ab consequuntur a rem sunt magnam quasi excepturi cupiditate veritatis nam, reiciendis laboriosam blanditiis deserunt eligendi non obcaecati provident doloremque dolores repellendus tempora. Veritatis, mollitia.
Eos, delectus doloremque. Fugit aliquid saepe rerum recusandae, est qui, non debitis, inventore necessitatibus odit fugiat eaque excepturi. Vel nesciunt maxime enim officia aspernatur possimus veniam praesentium. Deserunt, iusto nobis!</p>
